footer{
  border: 1px solid;
  .logo {
    width: 50%;
    Float: left;
    display:inline;
    padding-top: 10px;
    margin-left: 5px;
  }
  .copyright{
    Float: right;
    display:inline;
    padding-top: 10px;
    margin-right: 20px;
  }
}

@media only screen and (max-width:  600px) {
  footer .logo {
    display:none;
  }
}
