.reservation-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-start: auto;
  margin-bottom: 2rem;
  label {
    display: block;
  }
}

@media only screen and (max-width:  600px) {
  .reservation-container {
    margin: 0 0 1rem 0 !important;
    grid-template-columns: repeat(1, 1fr) !important;
  }
}



